<app-header></app-header>
<div class="card" style="margin-top:200px;">
  <h3 class="card-header text-center font-weight-bold text-uppercase py-4">All PRODUCTS</h3>
  <div class="card-body">
    <div id="table" class="table-editable">
      <span class="table-remove" ><button type="button"
        class="btn btn-danger btn-rounded btn-sm my-0" routerLink="/dashboard/addproduct">ADD PRODUCT</button></span>
      <table class="table table-bordered table-responsive-md table-striped text-center" style="margin-top:20px">
        <thead>
          <tr>
            <th class="text-center">ID</th>
            <th class="text-center">PNAME</th>
            <th class="text-center">PDESC</th>
            <th class="text-center">PIMAGE</th>
            <th class="text-center">ACTIONS</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of data">
            <td class="pt-3-half" contenteditable="true">{{product._id}}</td>
            <td class="pt-3-half" contenteditable="true">{{product.p_name}}</td>
            <td class="pt-3-half" contenteditable="true">{{product.p_desc}}</td>
            <td class="pt-3-half" contenteditable="true">{{product.p_image}}</td>
            <td>
              <span class="table-remove" style="padding-right: 5px;"><button type="button"
                  class="btn btn-danger btn-rounded btn-sm my-0" routerLink="/dashboard/editproduct/{{product._id}}">EDIT</button></span>
                  <span class="table-remove" style="padding-right: 5px;"><button type="button"
                    class="btn btn-danger btn-rounded btn-sm my-0">VIEW</button></span>
                    <span class="table-remove" ><button type="button"
                      class="btn btn-danger btn-rounded btn-sm my-0" data-toggle="modal" data-target="#exampleModal" >DEL</button></span>


                      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLabel">Are you Sure you want to Delete this Product?</h5>
                            </div>

                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-dismiss="modal">NO</button>
                              <button type="button" class="btn btn-primary" (click)="delProduct(product._id)">YES</button>
                            </div>
                          </div>
                        </div>
                      </div>
            </td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>
</div>


<!-- <app-footer></app-footer> -->

